@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
  --primary-color: hsl(322, 100%, 66%);
  --opacity-color: hsl(322, 100%, 77%);
  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* overflow-x: hidden; */
}

body{
  font-family: 'Poppins' 'Open Sans', sans-serif;
    font-size: 18px;
}

/* background image */
.background-image{
  width: 100%;
  /* height: 100vh; */
  padding: 50px 100px;
  background-image: url(/images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  background-position: center;
  background-size: cover;
  margin-bottom: 7em;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

/* logo image */
nav a img{
  width: 160px;
}

/* nav button */
nav a button{
  font-family: 'Open Sans';
  font-weight: 700;
  width: 170px;
  border: 1px solid;
  border-radius: 30px;
  color: var(--Very-Dark-Cyan);
  background-color: white;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
}
nav a button:hover{
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
}


/* hero section */
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5em;
}

/* hero section image */
.hero-section img{
  width: 50%;
}

/* hero section write up */
.build{
  display: block;
}
.build h1{
  font-family: 'poppins';
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 24px;
}
.build p{
  font-family: 'poppinsOpen Sans';
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 24px;
}

/* hero section button */
.build a button{
  width: 250px;
  padding: 13px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--Very-Pale-Cyan);
}

/* button hover */
.build a button:hover{
  cursor: pointer;
  background-color: var(--opacity-color);
}

/* container */
.container{
  padding: 30px 100px;
  /* position: relative; */
  margin-bottom: 12em;
}
.first-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8em;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 70px;
}
.first-box:hover{
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
}
.first-box img{
  width: 35%;
}
.first-box-block{
  display: block;
}
.first-box-block h2{
  font-family: 'poppins';
  color: var(--Very-Dark-Cyan);
  margin-bottom: 14px;
}
.first-box-block p{
  font-family: 'Open Sans';
  color: var(--Grayish-Blue);
  font-size: 16px;
}
.second-box{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 8em;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 70px;
  margin: 40px 0;
}
.second-box:hover{
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
}
.second-box img{
  width: 35%;
}
.second-box-block{
  display: block;
}
.second-box-block h2{
  font-family: 'poppins';
  color: var(--Very-Dark-Cyan);
  margin-bottom: 14px;
}
.second-box-block p{
  font-family: 'Open Sans';
  color: var(--Grayish-Blue);
  font-size: 16px;
}

/* ready to build our community */
.ready-to{
  background-color: white;
  display: block;
  /* align-items: center; */
  text-align: center;
  width: 40%;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
  margin: 110px auto;
  border-radius: 5px;
  padding: 24px;
  position: absolute;
  left: 20em;
  z-index: 2;
}

.ready-to h3{
  font-family: 'poppins';
  color: var(--Very-Dark-Cyan);
  margin: 16px 0;
}

.ready-to a button{
  width: 250px;
  padding: 13px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--Very-Pale-Cyan);
  margin-bottom: 16px;
}

.ready-to a button:hover{
  cursor: pointer;
  background-color: var(--opacity-color);
}


/* footer */
footer{
  width: 100%;
  padding: 100px 150px;
  background-color: var(--Very-Dark-Cyan);
  position: relative;
}
footer img{
  width: 200px;
  color: white;
}
.sub-footer{
  width: 100%;
  align-items: center;
  display: flex;
  gap: 10em;
}
.footer-block{
  width: 50%;
  display: block;
}

.footer-block p{
  color: white;
  font-size: 16px;
  padding: 10px 0;

}
.footer-flex{
  display: flex;
  align-items: center;
  gap: 1em;
  /* padding: 10px 0; */
}
.footer-flex img{
  width: 18px;
  height: 14px;
}
.footer-flex p{
  color: white;
  font-size: 16px;
}
.footer-block-2{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-block-sub{
  display: block;
}
.footer-block-sub p{
  color: white;
  font-size: 16px;
  padding: 10px 0;
  transition: 1s;
}
.footer-block-sub p:hover{
  display: block;
  border-bottom: 1px solid white;
}
.socia-media{
  display: flex;
  gap: 1em;
}
.socia-media i{
  color: white;
  transition: 0.5s;
}
.socia-media i:hover{
  color: var(--primary-color);
}
footer .pp{
  float: right;
  font-size: 14px;
  color: white;
  padding-top: 50px;
  /* margin-right: -50px; */
}
.attribution{
  color: white;
  font-size: 'poppins';
}
.attribution a{
  color: var(--primary-color);
  font-size: 'Open Sans';
  font-weight: 700;
}

/* mobile */

@media screen and (max-width: 1050px) {

/* background image */
.background-image{
  width: 100%;
  padding: 50px 50px;
  background-image: url(/images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  background-position: center;
  background-size: cover;
  margin-bottom: 7em;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

/* logo image */
nav a img{
  width: 150px;
}

/* nav button */
nav a button{
  width: 150px;
}

/* hero section */
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
}

/* hero section image */
.hero-section img{
  width: 45%;
}

/* hero section write up */
.build{
  display: block;
}

.build h1{
  font-family: 'poppins';
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 24px;
}
.build p{
  font-family: 'poppinsOpen Sans';
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 24px;
}

/* container */
.container{
  padding: 30px 50px;
  margin-bottom: 12em;
}


/* ready to build our community */
.ready-to{
  background-color: white;
  display: block;
  text-align: center;
  width: 40%;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
  margin: 110px auto;
  border-radius: 5px;
  padding: 24px;
  position: absolute;
  left: 18em;
  z-index: 2;
}
.ready-to a button{
  width: 250px;
  padding: 13px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--Very-Pale-Cyan);
  margin-bottom: 16px;
}

/* footer */
footer{
  width: 100%;
  padding: 100px 70px;
  background-color: var(--Very-Dark-Cyan);
  position: relative;
}
footer img{
  width: 200px;
  color: white;
}
.sub-footer{
  width: 100%;
  align-items: center;
  display: flex;
  column-gap: 3em;
}

.footer-block{
  width: 50%;
  display: block;
}

.footer-block p{
  color: white;
  font-size: 16px;
  padding: 10px 0;

}
.footer-flex{
  display: flex;
  align-items: center;
  gap: 1em;
}
.footer-flex img{
  width: 18px;
  height: 14px;
}
.footer-flex p{
  color: white;
  font-size: 16px;
}
.footer-block-2{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-block-sub{
  display: block;
}
.footer-block-sub p{
  color: white;
  font-size: 16px;
  padding: 10px 0;
  transition: 1s;
  border-bottom: 1px solid transparent;
}
.footer-block-sub p:hover{
  /* display: block; */
  border-bottom: 1px solid white;
}
.socia-media{
  display: flex;
  gap: 1em;
}
.socia-media i{
  color: white;
  transition: 0.5s;
}
.socia-media i:hover{
  color: var(--primary-color);
}
footer .pp{
  float: right;
  font-size: 14px;
  color: white;
  padding-top: 50px;
  /* margin-right: -50px; */
}

.attribution{
  color: white;
  font-size: 'poppins';
  margin-top: 1em;
}
.attribution a{
  color: var(--primary-color);
  font-size: 'Open Sans';
  font-weight: 700;
}
}


/* media queries */
@media screen and (max-width: 600px) {

  /* background image */
.background-image{
  width: 100%;
  padding: 50px 20px;
  background-image: url(/images/bg-hero-mobile.svg);
  background-color: hsl(193, 100%, 96%);
  background-position: center;
  background-size: cover;
  margin-bottom: 7em;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

/* logo image */
nav a img{
  width: 100px;
}

/* nav button */
nav a button{
  width: 100px;
}

/* hero section */
.hero-section{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 5em;
}

/* hero section image */
.hero-section img{
  width: 100%;
}

/* hero section write up */
.build{
  display: block;
  text-align: center;
}

.build h1{
  font-family: 'poppins';
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 22px;
}
.build p{
  font-family: 'poppinsOpen Sans';
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 22px;
}

/* container */
.container{
  padding: 30px 20px;
  margin-bottom: 12em;
}

.first-box{
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 2em;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.first-box:hover{
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
}
.first-box img{
  width: 100%;
}
.first-box-block{
  text-align: center;
  display: block;
}

.second-box{
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 2em;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 40px 0;
}
.second-box img{
  width: 100%;
}
.second-box-block{
  display: block;
  text-align: center;
}


/* ready to build our community */
.ready-to{
  background-color: white;
  display: block;
  text-align: center;
  width: 50%;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
  /* margin: 110px auto; */
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  left: 3.5em;
  z-index: 2;
}
.ready-to a button{
  width: 250px;
  padding: 13px;
  border-radius: 30px;
  border: none;
  background-color: var(--primary-color);
  color: var(--Very-Pale-Cyan);
  margin-bottom: 16px;
}
@media screen and (max-width: 400px) {
  .ready-to{
    left: 2em;
    width: 100%;
  }  
}
/* footer */
footer{
  width: 100%;
  padding: 100px 40px;
  background-color: var(--Very-Dark-Cyan);
  position: relative;
}
footer img{
  width: 200px;
  color: white;
}
.sub-footer{
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 3em;
}

.footer-block{
  width: 100%;
  display: block;
}

.footer-block p{
  color: white;
  font-size: 16px;
  padding: 10px 0;

}
.footer-flex{
  display: flex;
  align-items: center;
  gap: 1em;
}
.footer-flex img{
  width: 18px;
  height: 14px;
}
.footer-flex p{
  color: white;
  font-size: 16px;
}
.footer-block-2{
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.footer-block-sub{
  width: 100%;
  display: block;
}
.footer-block-sub p{
  color: white;
  font-size: 16px;
  padding: 10px 0;
  transition: 1s;
  border-bottom: 1px solid transparent;
}
.footer-block-sub p:hover{
  /* display: block; */
  border-bottom: 1px solid white;
}
.socia-media{
  display: flex;
  gap: 1em;
}

.socia-media a{
  border: 1px solid white;
  border-radius: 50%;
  padding: 12px;
}

.socia-media i{
  color: white;
  transition: 0.5s;
}
.socia-media i:hover{
  color: var(--primary-color);
}
footer .pp{
  text-align: center;
  font-size: 14px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.attribution{
  color: white;
  font-size: 'poppins';
  margin-top: 1em;
  text-align: center;
}
.attribution a{
  color: var(--primary-color);
  font-size: 'Open Sans';
  font-weight: 700;
}
}